<style type="text/css">
	head {
		font-family: calibri, arial, sans-serif;
        background-color: #303030;
        color: white;
	}
	body {
            font-family: calibri, arial, sans-serif;
            background-color: #202020;
            color: white;
			margin: 0;
        }
		h2 {
			color: #00c7ff;
		}
		textarea {
			display: block;
			width: 100%;
			height: 200px;
			margin: auto;
			margin-top: 8px;
			margin-bottom: 8px;
			border: 2px solid #00c7ff;
			background: #404040;
			font-size: 16px;
			color: white;
			resize: vertical;
			outline: none;
		}
		p.warning {
			background: #af0000;
			width: 100%;
			color: #ffffff;
			line-height: 200%;
			padding: 8px 16px;
		}
		.buttonSMB {
			background: #00617c;
			color: #ffffff;
			border: none;
			padding: 15px 32px;
			width: 100%;
			text-align: center;
			display: block;
			float: none;
		}
		.buttonSMB:hover {
			background: #00c7ff;
			color: #ffffff;
			cursor: pointer;
		}
		.buttonLauncher {
			background: #00617c;
			color: #ffffff;
			border: none;
			padding: 15px 32px;
			width: 33%;
			text-align: center;
			display: inline-block;
			float: none;
		}
		.buttonLauncher:hover {
			background: #00c7ff;
			color: #ffffff;
			cursor: pointer;
		}
		.buttonEditor {
			background: #00617c;
			color: #ffffff;
			border: none;
			padding: 15px 32px;
			width: 20%;
			text-align: center;
			display: inline-block;
			float: none;
		}
		.buttonEditor_ACTIVE {
			background: #00c7ff;
			color: #ffffff;
			border: none;
			padding: 15px 32px;
			width: 20%;
			text-align: center;
			display: inline-block;
			float: none;
		}
		.buttonEditor:hover {
			background: #00c7ff;
			color: #ffffff;
			cursor: pointer;
		}
		ul.sidenav {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 20%;
			background: #303030;
			position: fixed;
			height: 100%;
			overflow: auto;
		}
		ul.sidenav li a {
			font-size: 18px;
			display: block;
			color: #ffffff;
			padding: 8px 32px;
			text-decoration: none;
			line-height: 200%;
		}
		ul.sidenav li a.active {
			background: #00c7ff;
			color: #ffffff;
		}
		ul.sidenav li a.power {
			background: #af0000;
		}
		ul.sidenav li a:hover:not(.active) {
			background: #00617c;
		}
		div.content {
			margin-left: 20%;
			padding: 1px 16px;
		}
		
		@media screen and (max-width: 980px) {
			p.warning {
				text-align: center;
			}
			ul.sidenav {
				width: 100%;
				height: auto;
				position: relative;
			}
			ul.sidenav li a {
				font-size: 16px;
				float: left;
				padding: 15px;
				line-height: 100%;
			}
			ul.sidenav li a.power {
				float: right;
			}
			div.content {
				margin-left: 0;
				text-align: center;
			}
			.buttonLauncher {
				width: 80%;
				margin: auto;
				text-align: center;
				display: block;
			}
			.buttonEditor {
				width: 80%;
				margin: auto;
				text-align: center;
				display: block;
			}
			.buttonEditor_ACTIVE {
				width: 80%;
				margin: auto;
				text-align: center;
				display: block;
			}
			.buttonSMB {
				margin: auto;
				text-align: center;
				display: block;
			}
		}
		
		@media screen and (max-width: 575px) {
			textarea {
				margin: auto;
				margin-top: 8px;
			}
			ul.sidenav li a {
				font-size: 16px;
				text-align: center;
				float: none;
				line-height: 50%;
			}
			ul.sidenav li a.power {
				text-align: center;
				float: none;
			}
		}

</style>